fastapi
uvicorn
langchain
langchain_community
langchain-text-splitters
anthropic
google-genai>=2.3.0
langchain-huggingface
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
# TypeSafe Jev SDK
typesafe-sdk